<!DOCTYPE html>
<html>

<head>
    <a>
        <title>
            <%= title %>
        </title>
    </a>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>

    </h1>
    <p>Welcome to Poy</p>
    <p>Welcome to Poy
        <%= message %>
            <%= names %>
    </p>
</body>

</html>